VreiSaFiiMiliardar(InRON)/.vs/VreiSaFiiMiliardar(InRON)/v15/Server/sqlite3/storage.ide-shm
VreiSaFiiMiliardar(InRON)/.vs/VreiSaFiiMiliardar(InRON)/v15/Server/sqlite3/storage.ide-wal
VreiSaFiiMiliardar(InRON)/DatabaseAcces/obj/Debug/DatabaseAcces.csproj.FileListAbsolute.txt
VreiSaFiiMiliardar(InRON)/GameModel/obj/Debug/GameModel.csproj.FileListAbsolute.txt
VreiSaFiiMiliardar(InRON)/Interfaces/obj/Debug/Interfaces.csproj.FileListAbsolute.txt
VreiSaFiiMiliardar(InRON)/Presenter/obj/Debug/Presenter.csproj.FileListAbsolute.txt
VreiSaFiiMiliardar(InRON)/Proxy/obj/Debug/Proxy.csproj.FileListAbsolute.txt
VreiSaFiiMiliardar(InRON)/VreiSaFiiMiliardar(InRON)/obj/Debug/VreiSaFiiMiliardar(InRON).csproj.FileListAbsolute.txt
